.hidden {
    display: none;
    visibility: hidden;
}

#id-mask .mask-background {
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gray;
    opacity: 0.5;
}

#id-mask .mask-text {
    position: fixed;
    z-index: 9998;
    font-size: 2rem;
    text-align: center;
    color: red;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    padding: 15px 30px;
    border: 3px double gray;
    border-radius: 15px;
}

table.users {
    --border: 1px solid red;
    width: 100%;
}

table.users {
    border: 1px solid black;
}

table.users > tbody > tr:hover {
    background-color: cornsilk;
}

table.users > tbody > tr > td {
    padding: 0 5px;
}

table.users > tbody > tr > td.user-id {
    font-weight: bold;
    text-align: right;
}

.page-menu{
    margin: 5px 0;
}
.page-menu>ul{
    padding: 10px 0;
}

.page-menu>ul
, .page-menu>ul>li
{
    display: inline;
}
.mi {
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    padding: 5px 30px;
    border: 1px solid black;
    border-radius: 6px;
}

.mi:hover {
    background-color: aquamarine;
}

.actions-item:hover {
    border-radius: 6px;
    background-color: aquamarine;
}

.actions-item {
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 5px;
    padding: 3px    ;
}

#user-iu {
    width: 400px;
    border: 1px solid gray;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #cccccc;
}

#user-iu .title {
    background-color: aquamarine;
    font-weight: bold;
}

#user-iu label {
    display: block;
}

#user-iu .buttons {
    text-align: center;
}

#user-iu button {
    display: inline-block;
}